@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  
}


.text {
  background: linear-gradient(
    180deg,
    rgba(89, 24, 171, 1) 0%,
    rgba(31, 2, 71, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

