@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: rgb(113, 0, 255);
  background: radial-gradient(
    circle,
    rgba(113, 0, 255, 1) 0%,
    rgba(173, 31, 118, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
}

.text {
  background: linear-gradient(
    180deg,
    rgb(115, 3, 251) 0%,
    rgb(248, 3, 219) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
